@(registration: Form[Registration],user:Option[User] = None)

@main("register",user) {
  <div class="container">This is a registration form.</div>
  <div class="container">

    @helper.form(action = controllers.auth.routes.Register.submit()) {
      @form.email("email",registration("email").value,registration.errors("email"))
      @form.password("password",registration.errors("password"))
      @form.password("retypedPassword",registration.errors("retypedPassword"))
      <input type="submit" value="Submit" />
    }

  </div>
}