@(page:String,user:Option[User])

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="Currant" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="@if(page == "home") { active }"><a href="/">Home</a></li>
        <li class="@if(page == "about") { active }"><a href="/about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">@if(user.isDefined) { @user.get.email } else { Not Logged In }<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="@if(user.isDefined) { disabled }"><a href="/login">Login</a></li>
            <li class="@if(user.isDefined) { disabled }"><a href="/registration">Register</a></li>
            <li class="divider"></li>
            <li class="disabled"><a href="#">Settings</a></li>
            <li class="@if(user.isEmpty) { disabled }"><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
